
h1{
  color:blue;
  text-align:left;
  text-transform: capitalize;
  margin-left: 30px;
}
h2{
  color:blue;
  text-transform: capitalize;
  margin-left: 60px;
  font-size: 30px;
  margin-top: 10vh;
}
p{
  margin-left: 60px;
}

.to{
 height:54px;
 width:554px;
 border:2px solid gray;
 margin-left: 60px;
}
.so{
  height:20px;
 width: 540px;
 border:none
 
}
.eo{
  height:54px;
 width:554px;
 border:2px solid gray;
 margin-left: 0px;
 margin-top: 10px;
}
.e{
  opacity: 30px;
  margin-top: 10px;

}
.vine{
  margin-left: 410px;
  margin-top: -30px;
}
.w{
  background-color: blue;
  height: 54px;
  width: 129px;
  color: white;
  margin-top: 30px;
  
}
.f{
  background-color: blue;
  height: 54px;
  width: 129px;
  color: white;
  margin-left: 30px;
}
.sa{
  margin-top: 90px;
  margin-left: -60px;
}
.do{
  margin-top:-40px;
  margin-left: 150px;
  color: blue;
  word-spacing: 70px;
}
input[type="email"], input[type="password"], textarea {
  border: none;
  outline: none;
  border-bottom: 0px solid #ccc; /* You can adjust the color and thickness of the outline */
}
.col2{
  
}
.mo{
  text-align: center;
}